@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --Secondary-font: "Dancing Script", cursive;
    --Main-font :  "Federo", sans-serif;
    --wieght-b:700;
    --wieght-l:300;

    --Secondary-font: "Dancing Script", cursive;
    --Main-font :  "Federo", sans-serif;
    
    --wieght-b:700;
    --wieght-l:300;
    
    --C-Prim:var(#ff0040);
    --C-Sec:var(#030001);
    --C-L-gray:var(#e5e9eb);
    --C-Text-Mid-Gray:var(#7f7f7f);
    --C-Border-Gray:var(#c8c8c8);
    --C-BackGround:var(#f8f8f8);
     /* Web-Defines */
     --CPrim:var(--CPrim);
     --CSec:var(--C-Sec);
     --CSmBG:var(--C-L-gray);
     --CBigBG:var(--C-BackGround);
     --CTxt:var(--C-Text-Mid-Gray);
     --CBrdr:var(--C-Border-Gray);
     
     /* Web-Defines */
     --CPrim:var(--CPrim);
     --CSec:var(--C-Sec);
     --CSmBG:var(--C-L-gray);
     --CBigBG:var(--C-BackGround);
     --CTxt:var(--C-Text-Mid-Gray);
     --CBrdr:var(--C-Border-Gray);
} 
/* .CReciprocating */
.CompressorSections{
    display: flex;
   justify-content: space-evenly;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 0;
   margin: 0;
   border-radius: var(--Bl-Rds);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100%;
   /* margin: 1% 0; */
   /* border: 0.5px solid rgba(255, 119, 0, 0.9); */
   background-color: #00ff9900;

}


.ProductsContainer{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
    border-radius: var(--Bl-Rds);

    width: 100%;
    height: 100%;
    background-color: #ff004000;
    overflow-x: scroll;

    
    border:1px solid rgba(255, 0, 0, 0);
    
    /* float:left; */
    /* justify-content: space-evenly; */
    /* position:relative; */
}

/*

.branchesbutt{
    width: 100%;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}






.ProductsMapSide{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #91ff0000;
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;

    
}
#ProductsMapIFrame{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ff004000;
    width: 96%;
    height: 96%;
    left: 0;
    padding: 0;
    margin: 0;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    border-radius: 25px;
    /* -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); *-/
}
#ProductsMapIFrame:focus{
   outline: none; 
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ *-/
.ProductsInfoSide{
    
    display: flex;
    justify-content: space-evenly;
    /* justify-content: space-around; *-/
    align-items: start;
    text-align: center;
    flex-direction: column;
    background-color: #009dff00;
    width: 50%;
    height: 96%;
    /* border-left: 3px solid black; *-/
    
    
}
.ProductsSingleInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    height: 18%;
    width: 94%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    
}
.ProductsIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: #ff004000;
    width: 27%;
    font-weight: 700;
    font-size: 20px;
    height: 100%;
    
}
.ProductsInfoNameTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #ff004000;
    width: 80%;
    font-size: 15px;
    font-weight: 100;
    height: 100%;
    
}
*/





















/* 

.SiteProductsName{
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 10%;
    font-size: 20px;
    font-weight: 700;
}
.SiteProductsImage{
    background-color: rgba(0, 136, 255, 0);
    width: 100%;
    max-height: 80%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;

}
.SiteProductsButtons{
background-color: rgba(0, 128, 255, 0);
width: 100%;
height: 15%;
display: flex;
justify-content: space-evenly;
align-items: center;
text-align: center;
margin: 0;


}
.SiteProductsDownload{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
    outline: none;
    text-decoration: none;
    padding: 0;
	font: inherit;
	cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 35px;
    border-radius: 15px;
    background-color: #ff0040;
	color: white;
    width: 40%;
    font-weight: 700;
    letter-spacing: 1px;
	
}
/* .SiteProductsDownload *{
    margin: 0;
    color: #f8f8f8;
    padding: 0;
    max-width: 20%;
    background-color: rgba(153, 205, 50, 0);
    font-size: 20px;
} *-/
.SiteProductsLanguage{
background-color: rgba(0, 255, 47, 0);
color: red;
width: 30%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
height: 25px;
letter-spacing: 2.5px;

}
.map{
    -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
         filter: grayscale(100%);
}
 */


/* 
.SiteProducts{
     display: flex;
    justify-content: space-evenly;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: var(--Bl-Rds);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 1% 0;
    border: 0.5px solid rgba(192, 189, 189, 0.9);
}
.SiteProductsChild{
     display: flex;
    justify-content: space-evenly;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: var(--Bl-Rds);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 65vh;
    margin: 1% 0;
}
.SiteProducts *{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
} */


















/* 


:root{
    --Secondary-font: "Dancing Script", cursive;
    --Main-font :  "Federo", sans-serif;
    --wieght-b:700;
    --wieght-l:300;

    --Secondary-font: "Dancing Script", cursive;
    --Main-font :  "Federo", sans-serif;
    
    --wieght-b:700;
    --wieght-l:300;
    
    --C-Prim:var(#ff0040);
    --C-Sec:var(#030001);
    --C-L-gray:var(#e5e9eb);
    --C-Text-Mid-Gray:var(#7f7f7f);
    --C-Border-Gray:var(#c8c8c8);
    --C-BackGround:var(#f8f8f8);
     /* Web-Defines *-/
     --CPrim:var(--CPrim);
     --CSec:var(--C-Sec);
     --CSmBG:var(--C-L-gray);
     --CBigBG:var(--C-BackGround);
     --CTxt:var(--C-Text-Mid-Gray);
     --CBrdr:var(--C-Border-Gray);
     
     /* Web-Defines *-/
     --CPrim:var(--CPrim);
     --CSec:var(--C-Sec);
     --CSmBG:var(--C-L-gray);
     --CBigBG:var(--C-BackGround);
     --CTxt:var(--C-Text-Mid-Gray);
     --CBrdr:var(--C-Border-Gray);
} 
.CReciprocating{
     display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: var(--Bl-Rds);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 1% 0;
    border: 0.5px solid rgba(192, 189, 189, 0.9);

}
.CReciprocatingChild{
     display: flex;
    justify-content: space-evenly;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: var(--Bl-Rds);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 65vh;
    margin: 1% 0;
}
.CReciprocating *{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
} 
*/




