.SpaceProductShow{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: var(--Bl-Rds);
    width: 92%;
    background-color: var(--CSmBG);
    background-color: #f2f2f2;
    background-color: #e5e9eb;
    /* background-color: #0879b1;  */
    /* margin: 1% 0; */
    /* height: 65vh; */
    min-height: 90vh;
    padding: 1% 0;
    /*  */
    /*  */
}
.SpaceProductShowChild{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* 999999999999999999999999999999 */
    flex-direction: column;
    padding: 0;
    margin: 0;
    padding: 0;
    width: 94%;
    height: 100%;
    border-radius: var(--Bl-Rds);
    background-color: #c8ff0000;

}
