:root{
    --Secondary-font: "Dancing Script", cursive;
    --Main-font :  "Federo", sans-serif;
    --wieght-b:700;
    --wieght-l:300;
     /* Web-Defines */
     --CPrim:var(--CPrim);
     --CSec:var(--C-Sec);
     --CSmBG:var(--C-L-gray);
     --CBigBG:var(--C-BackGround);
     --CTxt:var(--C-Text-Mid-Gray);
     --CBrdr:var(--C-Border-Gray);
}
.NavListMenuLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 30%;
    height: 100%;
    margin: 10% 0;
    height: 80%;
    border-radius: 25px;
    background-color: var(--CSmBG);
    background-color: #f2f2f2;
}
.NavListMenuLogo *{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}